@{
    ViewData["Title"] = "Home Page";
}


<body class="pozadi">
    <section class="container">
        <div class="row">
            <div class="col d-flex align-items-center justify-content-center min-vh-100 pb-3">
                <p class="display-3 nadpis">Vítej v mojí aplikaci!</p>
            </div>
        </div>
    </section>
</body>
